.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  
  .content-container {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Same as sidebar width */
    overflow-y: auto;
  }
}
