.app-container {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  .content-container {
    flex: 1;
    display: block;
    padding: 80px 20px 20px 270px; // Top for top-bar, Left for sidebar
    min-height: calc(100vh - 80px); // Accounts for top-bar
    background-color: #f5f5f5;
  }
  
}
